.cardContainer {
    padding: 16px;
    width: fit-content;
    width: 25%;
    max-width: 400px;
    min-width: 200px;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .flex-lg-row {
        flex-direction: row;
    }
    .nt-lg-0 {
        margin-top: 0;
    }
    .justify-content-lg-start {
        justify-content: flex-start !important;
    }
    .cardContainer {
        min-width: 250px !important;
    }
}
.justify-content-center {
    justify-content: center;
}
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.ml-2 {
    margin-left: 8px;
}
.row {
    flex-direction: row;
}
.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.align-items-center {
    align-items: center;
}
.mt-2 {
    margin-top: 8px;
}
.mt-3 {
    margin-top: 16px;
}
h4,
span {
    margin: 0;
}
h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
